<h1>
    Codeial /
    <%= title %>
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>

    <div class="post-container">
        <div id="list-post-container">
            <ul>
                <% for(post of posts){%>
                    <li>
                        <p>
                            <%=post.content%>
                        </p>
                        <br>
                        <small>
                    <%=post.id%>
                        </small>
                    </li>




                    <%}%>
            </ul>


        </div>


    </div>
</section>